---
- hosts: debian
  user: root
  gather_facts: False
  pre_tasks:
  - name: "Install python on Debian container"
    raw: test -e /usr/bin/python || (apt -y update && apt install -y python-minimal)
  - name: "Install curl on Debian container"
    command: apt install -y curl

- hosts: centos
  user: root
  pre_tasks:
  - name: "Install epel-release on Centos container"
    command: "yum -y install epel-release"

- hosts: containers
  user: root
  roles:
  - nginx
  post_tasks:
  - name: "Docker commit debian image"
    local_action: "shell docker commit debian debian:devops-x"
  - name: "Docker commit centos image"
    local_action: "shell docker commit centos centos:devops-x"
  - name: "Docker stop debian container"
    local_action: "shell docker stop debian"
  - name: "Docker stop centos container"
    local_action: "shell docker stop centos"
